body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  border: 3px solid white;
}
header {
  background-color: #333;
  color: white;
  padding: 3px;
  text-align: center;
  border: 2px solid white;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #333;
  color: white;
  text-align: center;
}
.actions {
  text-align: center;
}

.action-column {
  text-align: center;
}
.actions button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  border-right: 1px solid white;
  padding-right: 10px;
}
nav a:first-child {
  border-left: 1px solid white;
  padding-left: 10px;
}
#centered-content {
  text-align: center;
  margin: 20px auto;
}
#centered-table {
  margin: 0 auto;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 3px solid white;
}

/*legend {
    font-weight: bold;
    color: #fff;
}

.champ {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
*/
